@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
    display: block;
    overflow-x: hidden;
    img {
        max-width: 100%;
    }
}