<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>body { display: none; }</style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body>
    <header class="container-fluid conpass-header">
        <div class="row">
            <div class="col-sm-5 text-left">
                <a href="www.conpass.io">
                    <img src="/assets/images/logo-conpass.png" alt="Conpass logo">
                </a>
            </div>
            <div class="col-sm-7 text-right">
                <ul class="header-menu">
                    <li>
                        <a href="#">sobre</a>
                    </li>
                    <li>
                        <a href="#">contato</a>
                    </li>
                    <li>
                        <a href="#">trabalhe conosco</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary">login</a>
                    </li>
                </ul>
                <button class="header-mobile-button">
                    
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="container-fluid banner-call-to-action parallax-window" data-parallax="scroll" data-image-src="/assets/images/background.jpeg" data-speed="0.6">
            <div class="banner-mask"></div>
            <div class="row">
                <div class="container">
                    <h2 class="light">Dê liberdade para seus usuários</h2>
                    <p class="light">A Conpass leva seu usuário direto ao sucesso no seu produto, criando uma relação de confiança e integração entre usuário e software.</p>
                    <div class="call-to-action">
                        <a href="#" class="btn btn-primary btn-lg">Contate-nos</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid product-video">
            <div class="container video-container">
                <div class="video"></div>
                <div class="video-topics">
                    <ul>
                        <li>
                            <div class="number">01</div>
                            <p><b>Reduza custos com equipes de suporte:</b> transforme seu time de suporte em um time de sucesso do cliente</p>
                        </li>
                        <li>
                            <div class="number">02</div>
                            <p><b>Reduza tempo e custos de implantação:</b> acelere o processo com automação e fale diretamente com seu cliente</p>
                        </li>
                        <li>
                            <div class="number">03</div>
                            <p><b>Aumente o engajamento do seu software:</b> eleve a experiência do seu produto e guie seus usuários ao que eles precisam saber</p>
                        </li>
                        <li>
                            <div class="number">04</div>
                            <p><b>Torne seu produto self service:</b> dê liberdade e autonomia para o cliente final aprender sozinho na hora que ele quiser</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="container-fluid companies-use">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Clientes que usam a Conpass</h4>
                    </div>
                </div>
                <div class="row companies">
                    <div class="col-md-2">
                        <h6>MAIS DE <br/>5 MILHÕES <br/><span>de acessos</span></h6>
                    </div>
                    <div class="col-md-10">
                        <ul class="companies-logo">
                            <li class="company">
                                <img src="/assets/images/hostgator.png" alt="Hostgator">
                            </li>
                            <li class="company">
                                <img src="/assets/images/lojaintegrada.png" alt="Loja integrada">
                            </li>
                            <li class="company">
                                <img src="/assets/images/softplan.png" alt="Softplan">
                            </li>
                            <li class="company">
                                <img src="/assets/images/vtex.png" alt="Vtex">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid product-features">
            <div class="row text-center">
                <div class="background-mask"></div>
                <div class="col-md-12">
                    <h2 class="light">Economize tempo e dinheiro</h2>
                    <p class="light">A Conpass melhora o engajamento e antecipa dúvidas, evite perder tempo com ligações por dúvidas simples e repetitivas do seu produto.</p>
                </div>
            </div>
            <div class="row">
                <div class="container featured-tabs">
                    <div class="row">
                        <header class="featured-header">
                            <div class="row">
                                <div class="col active" data-tab-for="product-adoption">
                                    <div class="tab">
                                        <div class="image"><img src="" alt=""></div>
                                        <div class="description">
                                            <h6 class="tab-title">Adoção do produto</h6>
                                            <p>Adoção digital verdadeira</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" data-tab-for="customer-satisfaction">
                                    <div class="tab">
                                        <div class="image"><img src="" alt=""></div>
                                        <div class="description">
                                            <h6 class="tab-title">Satisfação do cliente</h6>
                                            <p>Clientes satisfeitos são seus melhores vendedores</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" data-tab-for="retention">
                                    <div class="tab">
                                        <div class="image"><img src="" alt=""></div>
                                        <div class="description">
                                            <h6 class="tab-title">Retenção</h6>
                                            <p>Reter clientes é até 7 vezes mais barato que conquistar novos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="featured-body">
                            <div class="row active" data-tab-id="product-adoption">
                                <div class="col featured-body-image">
                                    <img src="" alt="">
                                </div>
                                <div class="col featured-body-description">
                                    <h4 class="light">Adoção digital verdadeira:</h4>
                                    <p>Com a Conpass você educa seus usuários a entender todas as etapas e funções do seu produto. Garantindo que seus clientes terão  conhecimento profundo das funcionalidades que realmente importam para o seu dia a dia. Melhore engajamento e a satisfação do cliente!</p>
                                    <a href="#" class="btn btn-primary">Contate-nos</a>
                                </div>
                            </div>

                            <div class="row" data-tab-id="customer-satisfaction">
                                <div class="col featured-body-image">
                                    <img src="" alt="">
                                </div>
                                <div class="col featured-body-description">
                                    <h4 class="light">Clientes satisfeitos são seus melhores vendedores.</h4>
                                    <p>A Conpass possibilita que você por meio de fluxos segmentados conduza seus clientes pelo produto sem precisar de interação humana. Cada usuário pode escolher quando iniciar um fluxo. Economize tempo, dinheiro e aumente a retenção!</p>
                                    <a href="#" class="btn btn-primary">Contate-nos</a>
                                </div>
                            </div>

                            <div class="row" data-tab-id="retention">
                                <div class="col featured-body-image">
                                    <img src="" alt="">
                                </div>
                                <div class="col featured-body-description">
                                    <h4 class="light">Reter clientes é até 7 vezes mais barato que conquistar novos.</h4>
                                    <p>Garanta com a Conpass que seus clientes continuem engajados no seu produto e percebendo o quanto seu produto é essencial. Crie  fluxos com anúncios e orientações envolventes para apresentar novos recursos que não são usados. Continue encantando seus clientes!</p>
                                    <a href="#" class="btn btn-primary">Contate-nos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid users-depoiments parallax-window" data-parallax="scroll" data-image-src="https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-speed="0.6">
            <div class="container user-depoiment">
                <div class="depoiment">
                    <div class="icon">“</div>
                    <div class="description">
                        <p>Quando falamos de user onboarding, estamos falando de engajamento do usuário e, o engajamento é fundamental para o cliente sentir-se confiante em colocar seus processos para rodar dentro do sistema, sentir que ali ele conseguirá ser mais eficiente e confiar muito que o sistema vai o ajudar.</p>
                    </div>
                    <div class="user">
                        <p class="user-name">HÉDERSON CASSIMIRO</p>
                        <p class="company">CEO - Ibf Sistemas</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid frames">
            <div class="background-mask"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="frame">
                            <div class="icon"><img src="" alt=""></div>
                            <p class="title">Aumente a permanência dos usuários no seu produto</p>
                            <p class="description">Com o user onboarding seu usuário tem a possibilidade de conhecer todo o potencial do seu produto de forma automatizada.</p>
                            <a href="#" class="btn btn-primary">Contate-nos</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="frame">
                            <div class="icon"><img src="" alt=""></div>
                            <p class="title">Crie sua comunicação e atualize sempre que precisar</p>
                            <p class="description">Tenha controle total em seus fluxos. Segmente para os públicos de interesse. Crie mensagens específicas e as utilize quando quiser.</p>
                            <a href="#" class="btn btn-primary">Contate-nos</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="frame">
                            <div class="icon"><img src="" alt=""></div>
                            <p class="title">Melhore a integração do produto com seus usuários</p>
                            <p class="description">Engaje todos os seus usuários criando experiências de conexão eficazes que os direcionam para ações importantes.</p>
                            <a href="#" class="btn btn-primary">Contate-nos</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="#"></a>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="#">Sobre</a></li>
                            <li>Sinek Keys</li>
                            <li>Digitalization</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="#">Contato</a></li>
                            <li>Sinek Keys</li>
                            <li>Digitalization</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="#">Conpass</a></li>
                            <li>Sinek Keys</li>
                            <li>Digitalization</li>
                        </ul>
                    </div>
                    <div class="col social-media">
                        <ul>
                            <li><a href="#">Social Media</a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
</body>
</html>