@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


* {
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

.btn.btn-primary {
    border: none;
    border-color: transparent;
}

.btn.btn-primary {
    color: #fff;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 40px;
    background: #e75b05;
    box-shadow: 1px 1px 10px rgba(0,0,0, .2);

    &.btn-lg {
        font-size: 16px;
        padding: 12px 40px;
    }

    &:hover, &:active, &:focus, &:visited {
        border-color: #ff6100;
        box-shadow: 1px 3px 10px rgba(0,0,0, .3);
    }
}

.parallax-window {
    min-height: 400px;
    background: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
    &.light {
        font-weight: 300;
    }
}

body {
    display: block;
    overflow-x: hidden;
    img {
        max-width: 100%;
    }
}

body > header {
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1049;
    position: fixed;
    padding: 20px 40px;
    background: transparent;
    
    .header-menu {
        margin: 0;
        font-size: 0;
        display: block;
        list-style: none;
    
        li {
            font-size: 16px;
            display: inline-block;

            &:nth-child(3) {
                a {
                    letter-spacing: 0.04px;
                }
            }
            
             a:not(.btn) {
                color: #ddd;
                display: block;
                padding: 8px 0;
                margin-right: 35px;
                position: relative;
                
                &.active, &:hover {
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 0;

                    &::after {
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        content: '';
                        height: 3px;
                        display: block;
                        background: #ddd;
                        position: absolute;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    &.fixed-bar {
        color: #167fe4;
        box-shadow: 0 3px 8px rgba(0,0,0, .25);

        .header-menu {
            a:not(.btn) {
                color: #3495ce;
                &.active, &:hover {
                    color: #1a80bb;
                }
            }
        }
    }
}

section {
    &.banner-call-to-action {
        color:#fff;
        min-height: 100vh;
        position: relative;
        text-align: center;
        background: url('../images/background.jpeg') no-repeat center / cover;
        
        .banner-mask {
            top: 0;
            left: 0;
            width: 100%;
            opacity: .75;
            height: 100%;
            position: absolute;
            background-image: linear-gradient(116deg, #29e2e5, #167fe4);
        }

        .banner-mask + div {
            top: 50vh;
            z-index: 1;
            position: relative;
            transform: translateY(-50%);
        }

        h2 {
            font-size: 56px;
            font-weight: 300;
        }

        p {
            width: 100%;
            padding: 0 15px;
            font-size: 24px;
            max-width: 780px;
            margin: 15px auto 45px;
        }
    }

    &.product-video {
        padding: 65px 0 95px;

        .video-container {
            position: relative;
            .video {
                right: 0;
                top: -200px;
                width: 100%;
                height: 530px;
                max-width: 905px;
                position: absolute;
                background: #4a4a4a;
                border: 25px solid #fff;
            }

            .video-topics {
                z-index: 10;
                width: 420px;
                background: #fff;
                position: relative;
                border: 1px solid #e6e6e6;
                box-shadow: 12px 23px 18px rgba(0, 0, 0, 0.15);

                ul {
                    list-style: none;
                    padding: 35px 52px 35px 35px;

                    li {
                        margin: 20px 0;

                        .number {
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            font-size: 16px;
                            overflow: hidden;
                            line-height: 40px;
                            margin-right: 10px;
                            border-radius: 50%;
                            text-align: center;
                            background: #4a90e2; 
                            display: inline-block;
                            vertical-align: middle;
                        }

                        p {
                            margin: 0;
                            color: #808080;
                            font-size: 16px;
                            display: inline-block;
                            vertical-align: middle;
                            width: calc(100% - 55px);
                        }
                    }
                }
            }
        }
    }
    &.product-features {
        > .row:first-child {
            color: #fff;
            height: 620px;
            position: relative;
            background: url('https://images.pexels.com/photos/1040157/pexels-photo-1040157.jpeg?cs=srgb&dl=board-game-boss-business-1040157.jpg&fm=jpg') no-repeat center / cover;
            .background-mask {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .75;
                position: absolute;
                background: #12c1c7;
            }
            h2 {
                font-size: 40px;
                margin: 170px 0 20px;
            }
            p {
                margin: 0 auto;
                display: block;
                font-size: 24px;
                max-width: 620px;
            }
        }
        .featured-tabs {
            top: -135px;
            position: relative;
            box-shadow: 6px 20px 35px 0 rgba(0, 0, 0, 0.2);
            
            .featured-header {
                width: 100%;
                text-align: center;
                padding: 20px 50px;
                background: #f2f2f2;
                > .row {
                    margin-top: 30px;
                }
                [data-tab-for] {
                	cursor: pointer;
                	text-align: center;

                	.tab {
                		height: 115px;
    					overflow: hidden;
                		border-bottom: 5px solid transparent;
                	}
                	
                	&.active .tab {
                		border-color: #fbbd5e;
                	}

                	.tab {
                		width: 100%;
                		max-width: 235px;
                		display: inline-block;
                	}
                }
            }

            .featured-body {
                background: #fff;
                padding: 50px 80px 140px;
                .row {
                	display: none;

               		&.active {
               			display: flex;
               		}
                }
            }
        }
    }
    &.users-depoiments {
        padding-top: 80px;
        padding-bottom: 80px;
        .user-depoiment {
            .depoiment {
                width: 420px;
                background: #fff;
                padding: 100px 60px 60px;
                border: solid 1px #d5d5d5;
                box-shadow: 12px 23px 18px 0 rgba(0, 0, 0, 0.15);

                .description {
                    margin-bottom: 15px;
                    p {
                        color: #9b9b9b;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .user {
                    p {
                        color: #9b9b9b;
                        font-size: 12px;
                        line-height: 24px;

                        &.user-name {
                            color: #595959;
                        }
                    }
                }
            }
        }
    }
    &.frames {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        background: url('https://images.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center / cover;
        
        .background-mask {
            top: 0;
            left: 0;
            width: 100%;
            opacity: .8;
            height: 100%;
            position: absolute;
            background: #167fe4;
        }
        
        .col {
            padding: 0 30px;
        }

        .frame {
            padding: 30px 45px;
            background: #fff;
            text-align: center;

            p {
                color: #595959;
                font-size: 16px;
                line-height: 24px;
                
                &.title {
                    margin-top: 80px;
                }
                &.description {
                    color: #999999;
                }
            }
        }
    }
}

footer {
    color: #fff;
    padding-top: 140px; 
    padding-bottom: 100px;
    background-image: linear-gradient(77deg, #29e2e5, #167fe4);

    ul {
        li {
            margin-bottom: 10px;

            a {
                display: block;
                color: #ffffff;
            }

            i {
                margin-right: 10px;
            }

            &:first-child {
                font-weight: 600;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}