* {
    font-family: 'Roboto', sans-serif;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

.btn.btn-primary {
    border: none;
    border-color: transparent;
}

.btn.btn-primary {
    color: #fff;
    font-size: 14px;
    padding: 8px 30px;
    border-radius: 40px;
    background: #e75b05;
    box-shadow: 1px 1px 10px rgba(0,0,0, .2);

    &.btn-lg {
        font-size: 16px;
        padding: 12px 40px;
    }

    &:hover, &:active, &:focus, &:visited {
        border-color: #ff6100;
        box-shadow: 1px 3px 10px rgba(0,0,0, .3);
    }
}

.parallax-window {
    min-height: 400px;
    background: transparent !important;
}

h1, h2, h3, h4, h5, h6 {
    &.light {
        font-weight: 300;
    }
}